* {
    box-sizing: border-box;
    margin: 0;
}
.exercise {
    width: 40rem;
    margin-bottom: 2rem;
    padding: 1rem;
    border-radius: 15px;
    border: 2px dashed black;
}
.ex1 {
    background-color: lightblue;
}
.ex2 {
    background-color: lightcoral;
}
.ex3 {
    background-color: lightgreen;
}.ex4 {
    background-color: lightgoldenrodyellow;
}
.ex5 {
    background-color: lightpink;
}
.ex6 {
    background-color: lightgray;
}
.ex7 {
    background-color: lightcyan;
}
.ex8 {
    background-color: lightseagreen;
}